<!DOCTYPE html>
<html>

<head>
    <title>Finance WebApp</title>
    <link rel="stylesheet" href="./style.css">
</head>

<h1>Finanzas Helendra</h1>
<br>
<div id="bckp">
<p>Ingresa los datos</p>
</div>

id

<body class="body">
<h1>funca</h1>
</body>

<script type="text/javascript">

    var chekc = document.getElementById('monto');
    var eskere = document.getElementById('submit');
    var a = document.getElementById('select');
    var btn = document.getElementsById('btn');

//           AGREGALE DISABLED AL BUTTON


 //   a.addEventListener('change', function checkw() {
 //           if (chekc.value.length !== 0 || a.value !== "0") {
 //               btn.removeAttribute("disabled");;
 //           } else {
 //               alert.("ingresa")
 //           }
 //       }
 //   )
    
    a.addEventListener('change', function check() {
        if (this.value === 'pers') {
            document.getElementById("other-option").style.display = 'inline';
        } else {
            document.getElementById("other-option").style.display = 'none';
        }
    }, false);
</script>
</html>