<!DOCTYPE html>
<html>

<head>
    <title>Finance WebApp</title>
    <link rel="stylesheet" href="style.css">
</head>

<script type="text/javascript">
    function check(elem) {
        // use one of possible conditions
        // if (elem.value == 'Other')
        if (elem.value === 'pers' && ) {
            document.getElementById("other-div").style.display = 'block';
        } else {
            document.getElementById("other-div").style.display = 'none';
        }
    }
    // if (document.getElementById('select').value === 'pers') {
    //     form.appendChild(customInput)
    // }
    console.log();
</script>

<body>
    <form method="post" id='form' action="/submit">
        <input type="number" name="monto" id='monto' placeholder="Monto">
        <select name="tipo" id='select' onchange="check(this)">
            <option value="Superverdiética">Superverdiética</option>
            <option value="Comida exterior/Delivery">Comida exterior/Delivery</option>
            <option value="Tabaco">Tabaco</option>
            <option value="Expensas">Expensas</option>
            <option value="Servicios">Servicios</option>
            <option value="pers">PERSONALIZADO</option>
        </select>
        <div id="other-option" style="display:none;">
            <label>Enter your Name
                <input type='text' id="other-input" name='tipoPers' placeholder='Concepto'></input>
            </label>
        </div>
        <button type="submit">Continue</button>
    </form>
</body>


</html>

<!-- 
<script>
// Put this script in header or above select element
    function check(elem) {
        // use one of possible conditions
        // if (elem.value == 'Other')
        if (elem.selectedIndex == 3) {
            document.getElementById("other-div").style.display = 'block';
        } else {
            document.getElementById("other-div").style.display = 'none';
        }
    }
</script>

<select id="mySelect" onChange="check(this);">
        <option>Choose Your Name</option>
        <option>Frank</option>
        <option>George</option>
        <option>Other</option>
</select>
<div id="other-div" style="display:none;">
        <label>Enter your Name
        <input id="other-input"></input>
        </label>
</div> 
-->