<!DOCTYPE html>
<html>
    <head>
        <title>Finance WebApp</title>
    </head>
    <body>
        <button id="input">dani</button>
        <form method="post" action="/submit">
            <button type="submit">Continue</button>
        </form>
    </body>
</html>